body {
    background-color: #000033;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('background.jpg');
    background-size: cover;
    padding: 50px;
    text-align: center;
    filter: blur(5px);
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    padding: 50px;
}

section {
    background-color: rgba(0, 0, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 20px;
}

p {
    margin: 0 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
